@media (min-width: 1024px) {
    .iframe {
        width: 560px;
        height: 315px;
        filter: grayscale(100%);
        transition: filter 0.3s ease, transform 0.3s ease;
        border-radius: 30px;      
    }
    
    .iframe:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
    }
}

@media (max-width: 1024px) {
    .iframe {
        width: 350px;
        height: 197px;
        border-radius: 30px;
    }
}